	body {
			background-image: url(http://www.visitpluto.com/img/blog/interstellar-desktop-backgrounds/desktop-background-pluto-white-pattern.jpg);
			color: black;
			font-family: Lato, arial, sans-serif;
			text-align: center;
		}